
<h1>distributions</h1>

<select
    ng-model="distribution"
    ng-options="dist.name for dist in distributions"
    ng-required>
</select>

<p>
    The {{ distribution.name }} Distribution is defined by the parameters
    {{ distribution.parameters }}.  We've rendered it here for you
    for the range {{ distribution.demo.range }}.
    see <a href="{{distribution.link}}">here</a> for more information.
</p>

<h3>Parameters</h3>
<form class="form-horizontal">
  <div class="control-group" ng-repeat="parameter in distribution.parameters">
    <label class="control-label">{{parameter}}</label>
    <div class="controls">
      <input type="text" ng-model="demo.parameters[$index]">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Start</label>
    <div class="controls">
      <input type="text" ng-model="demo.start">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Stop</label>
    <div class="controls">
      <input type="text" ng-model="demo.stop">
    </div>
  </div>
</form>

<div line-chart class="big-chart" data="values"></div>

<!--
<p>Paste your data to figure out what the distribution is:</p>
<div ng-include src="'partials/data.html'" />
-->

